@import "tailwindcss";


/* ==============================
   Font Family: Signifier
   ============================== */
@font-face {
  font-family: "Signifier";
  src: url("../fonts/Signifier.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-Signifier {
  font-family: "Signifier", serif;
  font-weight: 400;
  font-style: normal;
}

/* ==============================
   Font Family: Clash Grotesk Vaiable
   ============================== */
@font-face {
  font-family: "ClashGrotesk-Variable";
  src: url("../fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-ClashGrotesk-Variable {
  font-family: "ClashGrotesk-Variable", serif;
  font-weight: 400;
  font-style: normal;
}
